<!DOCTYPE html>
<html lang = "en" dir = "ltr">

<head>
    <meta charset="utf-8">
    <title>Movie Recommender Project</title>

</head>

<body style="background-color:powderblue;font-family:verdana;">
    <h1>{{temp_title}} </h1>
      <p>Movies are more than just entertainment, its an art! &#128525 &#128525 &#128525</p><br>

    
      <form action="/recommender">
        <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
        <table>
          <tr>
          <td>Jurassic Park (1993):</td>
          <td><input type="text" name="Jurassic Park (1993)" placeholder="0.0 - 5.0"><br></td>
        </tr>
        <tr>
          <td>Mrs. Doubtfire (1993):</td>
          <td><input type="text" name="Mrs. Doubtfire (1993)" placeholder="0.0 - 5.0"><br></td>
        </tr>
        <tr>
          <td>'Silence of the Lambs, The (1991)'</td>
          <td><input type="text" name="Silence of the Lambs, The (1991)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>101 Dalmatians (1996):</td>
          <td><input type="text" name="101 Dalmatians (1996)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>Gladiator (2000):</td>
          <td><input type="text" name="Gladiator (2000)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>Ghostbusters (a.k.a. Ghost Busters) (1984):</td>
          <td><input type="text" name="Ghostbusters (a.k.a. Ghost Busters) (1984)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>Fargo (1996):</td>
          <td><input type="text" name="Fargo (1996)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>Minority Report (2002):</td>
          <td><input type="text" name="Minority Report (2002)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>2 Fast 2 Furious (Fast and the Furious 2, The) (2003):</td>
          <td><input type="text" name="2 Fast 2 Furious (Fast and the Furious 2, The) (2003)" placeholder="0.0 - 5.0"></td>
        </tr>
        <tr>
          <td>Alice in Wonderland (2010):</td>
          <td><input type="text" name="Alice in Wonderland (2010)" placeholder="0.0 - 5.0"></td>
        </table>
        <input type="submit">
      </form>
      
</body>

